* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

*::before,
*::after {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}
*::-moz-selection {
    color: $color_selection_text;
    background: $color_selection_bg;
}
*::selection {
    color: $color_selection_text;
    background: $color_selection_bg;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}
input::-moz-placeholder {
    color: $color_placeholder;
}
input::-webkit-input-placeholder {
    color: $color_placeholder;
}
input:-ms-input-placeholder {
    color: $color_placeholder;
}
input::-ms-input-placeholder {
    color: $color_placeholder;
}
input::placeholder {
    color: $color_placeholder;
}
input {
    -webkit-appearance: none;
}
input[type="number"] {
    -moz-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

textarea,
input {
    font-family: $font;
    font-size: 14px;
    line-height: 14px;
}

html {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
section {
    position: relative;
}
body {
    font-family: $font;

    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    
    min-width: 320px;
    color: $color_black;
    background-color: $color_bg;
    touch-action: pan-x pan-y;
    scroll-behavior: smooth;
    & > #__site_wrapper {
        overflow: hidden;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }
}

main {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    transition: 0.2s;
}
.container {
    padding-left: 16px;
    padding-right: 16px;
    width: 100%;
    max-width: $container_width;
    margin: 0 auto;
    @media (max-width: 768px) {
        padding-left: 16px;
        padding-right: 16px;
    }
}

a {
    text-decoration: none;
    color: $color_primary;
    transition: 0.2s;
    &:focus,
    &:hover {
        opacity: 0.8;
    }
    &.__self {
        // display: inline;
        border-bottom: 1px dashed $color_primary;
    }
}
#site_wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.main{
    flex-grow: 1;
}
.section{
    padding: 60px 0;
}

h1,.h1{
    font-size: 54px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0px;
    transition: font-size 0.2s;
}
h2,.h2{
    font-size: 44px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0px;
    transition: font-size 0.2s;
}
h3,.h3{
    font-size: 34px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0px;
    transition: font-size 0.2s;
}
h4,.h4{
    font-size: 22px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0px;
    transition: font-size 0.2s;
}
@media (max-width: $tablet) {
    h1,.h1{
        font-size: 44px;
    }
    h2,.h2{
        font-size: 32px;
    }
    h3,.h3{
        font-size: 28px;
    }
    h4,.h4{
        font-size: 22px;
    }
}
@media (max-width: $mobile) {
    h1,.h1{
        font-size: 32px;
    }
    h2,.h2{
        font-size: 28px;
    }
    h3,.h3{
        font-size: 24px;
    }
    h4,.h4{
        font-size: 18px;
    }
}




.btn{  
    display: inline-flex;
    justify-content: center;
    align-items: center;

    padding: 0 16px;

    height: 56px;
    border-radius: 6px;
    
    cursor: pointer;
    user-select: none;

    border: none;

    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0px;
    
    box-shadow: $shadow_2;

    transition: 0.2s;
    &:hover{
        transition: 0.2s;
    }
    &:disabled{
        background: #DBE2EA;
        color: transparentize($color:  $color_black, $amount: 0.5);
        pointer-events: none;
    }

    @mixin btn-style($name, $color, $text_color, $border_color){
        &--#{$name}{
            background: $color;
            color: $text_color;
            svg path{
                fill:$text_color;
            }
            &:hover{
                box-shadow: $shadow_1;

                opacity: 1;
            }
            &:focus{
                border: 2px solid $border_color;
            }
            &:active{
                transition: 0.05s;
                border: 2px solid $border_color;
            }
        }
    }

    @include btn-style('blue',$color_blue ,$color_white , transparentize($color:  $color_black, $amount: 0.12) );
}
.input {
    display: flex;
    flex-direction: column;

    position: relative;
    &__label {
        margin-bottom: 7px;

        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 21px;
        letter-spacing: 0px;

        color: $color_gray;
    }
    &__mistake {
        position: absolute;
        bottom: -26px;

        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0px;

        color: $color_red;
    }
    input[type="text"]{
        height: 52px;

        padding: 0 16px;

        font-size: 16px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0px;

        border: 1px solid $color_gray_light;
        border-radius: 6px;

        box-shadow: $shadow_3;

        @include transition();

        &:focus{
            border: 2px solid $color_blue;
        }
    }
}
.checkbox {
    display: flex;
    align-items: center;
    &__view {
        display: inline-block;

        width: 28px;
        height: 28px;

        margin-right: 8px;

        background: $color_white;
        border: 1px solid $color_gray_light;
        box-sizing: border-box;
        box-shadow: $shadow_3;
        border-radius: 4px;

        transition: 0.1s;

        position: relative;

        &::after{
            content: url('../icons/ico__check.svg');
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            transform: scale(0.75);
            opacity: 0;
            transition: 0.1s;
        }
        
    }
    input[type="checkbox"]:focus+&__view{
        border: 2px solid $color_blue;
    }
    input[type="checkbox"]:checked+&__view{
        border: 2px solid $color_blue;

        &::after{
            transform: scale(1);
            opacity: 1;
        }
    }
    
    &__label{
        font-size: 16px;
        font-weight: 500;
        line-height: 21px;
        letter-spacing: 0px;

        color: $color_gray;
    }
}
.select{
    position: relative;
    display: inline-flex;
    flex-direction: column;
    &__list {
        position: absolute;
        width: 100%;
        top: 56px;
        padding: 12px 0;

        border-radius: 6px;
        background: $color_white;
        box-shadow: 0px 20px 20px 0px #2C27380A , 0px 4px 8px 0px #2C27380A;
        z-index: 2;

        opacity: 0;
        transform: scale(0.75) translateY(-20px);
        pointer-events: none;

        @include transition();

        &--active{
            opacity: 1;
            transform: scale(1);
            pointer-events: all;
        }
    }
    &__item {
        list-style: none;
        padding: 12px 15px;
        @include transition();
        cursor: pointer;
        color: $color_gray;
        &:hover{
            background: transparentize($color:  #EBF4F8, $amount: 0.5);
        }
        &--active{
            background:#EBF4F8 !important;
        }
    }
}