.form {
    max-width: 460px;
    width: 100%;

    margin: 0 auto;
    padding: 40px 30px;
    
    box-shadow: $shadow_1;
    border-radius: 24px;
    &__inner {
        display: flex;
        flex-direction: column;
    }
    &__head {
        margin-bottom: 56px;
    }
    &__title{
        margin-bottom: 8px;
    }
    &__row {
        margin-bottom: 34px;
        display: flex;
        flex-direction: column;
    }
}

