
$color_blue: #0880AE;
$color_red: #FF7171;

$color_white: #ffffff;
$color_gray_light: #DBE2EA;
$color_gray: #756F86;
$color_black: #2C2738DB;

$gradient_blue_tr: linear-gradient(238.37deg, rgba(90, 96, 231, 0.35) 6.34%, rgba(30, 30, 40, 0) 103.77%), #2C2C2C;

$color_primary: $color_blue;

$shadow_1: 0px 32px 64px 0px #2C27380A , 0px 12px 24px 0px #2C273805;
$shadow_2: 0px 4px 8px 0px #2C273814 , 0px 2px 4px 0px #2C273814;
$shadow_3: 0px 4px 8px 0px #2C27380A;

$color_selection_text: white;
$color_selection_bg: $color_primary;

$color_placeholder: $color_gray_light;

$color_bg: $color_white;

$container_width: 1360px;

$tablet: 768px;
$tablet_min: 769px;
$mobile: 495px;
$mobile_min: 496px;

$font: 'IBM Plex Sans' , 'Helvetica', sans-serif;

@mixin scrollWithoutScroll() {
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        width: 0px;
        background: transparent;
    }
}
@mixin scrollWithoutScrollHorizontal() {
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-height: none;
    &::-webkit-scrollbar {
        height: 0px;
        background: transparent;
    }
}
@mixin transition() {
    transition: 0.2s;
    &:hover {
        transition: 0.05s;
    }
    &:hover {
        transition: 0.02s;
    }
}