<template>
    <form class="form">
        <div class="form__inner">
          <div class="form__head">
            <h3 class="form__title">Регистрация</h3>
            <div>Уже есть аккаунт? <a href="">Войти</a></div>
          </div>
          
          <div class="form__row">
            <div class="input">
              <div class="input__label">Имя</div>
              <input
                type="text"
                placeholder="Введите Ваше имя"
                v-model.trim="name"
              >
              <div class="input__mistake">{{nameMistake}}</div>
            </div>
          </div>
          <div class="form__row">
            <div class="input">
              <div class="input__label">Email</div>
              <input
                type="text"
                placeholder="Введите ваш email"
                v-model="email"
              >
              <div class="input__mistake">{{emailMistake}}</div>
            </div>
          </div>
          <div class="form__row">
            <div class="input">
              <div class="input__label">Номер телефона</div>
              <input 
                class="mask-phone"
                type="text" 
                placeholder="Введите номер телефона"
                v-model="phone"
              >
              <div class="input__mistake">{{phoneMistake}}</div>
            </div>
          </div>
          <div class="form__row">
            <div class="input">
              <div class="input__label">Язык</div>
              <SelectInput 
                :title="'Язык'"
                :options="[
                  'Русский',
                  'Английский',
                  'Китайский',
                  'Испанский',
                ]"
                v-model="language"
              />
              <div class="input__mistake">{{languageMistake}}</div>
            </div>
          </div>
          <div class="form__row">
            <div class="checkbox">
              <input
                type="checkbox" 
                name="regForm_agree" 
                id="regForm_agree"
                v-model="agree"
              >
              <label class="checkbox__view" for="regForm_agree"></label>
              <label class="checkbox__label" for="regForm_agree">Принимаю <a href="">условия</a> использования</label>
            </div>
          </div>
          <div class="form__row">
              <input
              class="btn btn--blue"
              type="button"
              value="Зарегистрироваться"
              :disabled="!emptySomethink()"
              @click="sendForm()"
              >
          </div>
        </div>
    </form>
</template>


<script>
import SelectInput from "@/components/SelectInput";
import Inputmask from "inputmask";

export default {
  name: 'RegForm',
  data: function(){
    return{
      "name":"",
      "nameMistake":"",
      "email":"",
      "emailMistake":"",
      "phone":"",
      "phoneMistake":"",
      "language":"",
      "languageMistake":"",
      "agree":false
    }
  },
  mounted: function(){
    let selector = document.querySelectorAll(".mask-phone");
    Inputmask("+7(999)999-99-99").mask(selector)
  },
  watch:{
    name(val){
      let re = /[^A-ZА-Я\s-]/gi;
      this.$set(this, 'name', val.replace(re, ''));
    }
  },
  methods:{
    emptySomethink(){
      return this.name && this.email && this.phone && this.language && this.agree
    },
    sendForm(){
      if(this.validateForm())alert("Форма отправлена!")
    },
    validateForm(){
      this.nameMistake = !this.validateName()?"Введите имя":""
      this.emailMistake = !this.validateEmail()?"Введите корректный Email":""
      this.phoneMistake = !this.validatePhone()?"Введите номер телефона":""

      return ( this.validateName() && this.validateEmail() && this.validatePhone() )
    },
    validateName(){
      return this.name !== ""
    },
    validateEmail(){
      const re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return re.test(String(this.email).toLowerCase());
    },
    validatePhone(){
      return this.phone.replace(/[^\d]/g,'').length === 11
    }
  },
  components:{
    SelectInput
  }
}

</script>
<style>



</style>