<template>
    <div class="select">
        <input 
        type="text" 
        :placeholder="title" 
        :value="val || title"
        v-on:focus="active = true"
        v-bind:topVal="val"
        readonly
        >
            <!-- v-if=active -->
        <ul 
            :class="{'select__list--active' : active}"
            class="select__list"
        >
            <li 
                v-for="(item,i) of options"
                class="select__item"
                :class="{'select__item--active' : curr==i}"
                :key="i"
                :data-key="i"
                v-on:click="setVal(item,i)"
            >{{item}}</li>
        </ul>
    </div>
</template>
<script>
    export default {
        props: ['title','options','value'],
        data: function(){
            return{
                val: '',
                curr: -1,
                active: false,
                
            }
        },
        created() {
            this.selectedOption = this.selected;
            document.body.addEventListener("click", this.close);
        },
        beforeDestroy() {
            document.body.removeEventListener("click", this.close);
        },
        methods:{
            setVal(item,i){
                this.val = item
                this.curr = i
                this.active = false

                this.$emit('input',this.val)
            },
            close(e){
                if (!this.$el.contains(e.target)) this.active = false;
            }
        }
    }
</script>

<style>

</style>