<template>
  <div id="__site_wrapper">
    <header class="header"></header>
    <div class="main">
      <section class="section">
        <div class="container">
          <RegForm></RegForm>
        </div>
      </section>
    </div>
    <footer class="footer"></footer>
  </div>
</template>

<script>
import RegForm from "./components/RegForm.vue";

export default {
  name: "App",
  components: {
    RegForm,
  },
};
</script>

<style>

</style>